.hide {
    display: none!important 
}
body {
    background-image: url("https://st2.depositphotos.com/3205183/10977/i/950/depositphotos_109773986-stock-photo-matrix-code-on-white-background.jpg");
    background-color: #cccccc;
   }